<% your_bookings.each do |booking| %>

  <div class="show-booking">
    <% if booking.user == current_user %>
      <h4><%= (booking.end_date - booking.start_date).to_i %> Days @<%= booking.spot.name %></h4>
    <% else %>
      <h5><%= booking.user.email %> booked <%= (booking.end_date - booking.start_date).to_i %> Days here.</h5>
    <% end %>

    <% if booking.is_approved %>
      <i class="fas fa-circle" style="color: green; display: inline;"></i>
      <p style="display: inline;" class="approved">Status: <%= "Approved!" %></p>
    <% else %>
      <i class="fas fa-circle" style="color: red; display: inline;"></i>
      <p style="display: inline;" class= "pending">Status: <%= "Pending" %></p>

    <%# This is to add a booking removal button. Only visible if booking is pending, not approved. %>
    <p style= "z-index: 3; display: inline-block;"><%= link_to '<i class="fas fa-trash"></i>'.html_safe,  spot_spot_booking_path(booking.spot, booking), style: "color: #5a5a5a;", :method => :delete %></p>

    <% end %>

    <p>From the <%= booking.start_date %> until the <%= booking.end_date %></p>
  </div>
<% end %>
