<div class="show-banner" id="showbgimage" style="background-image: url(<%= cl_image_path @spot.photo %>); display: flex; align-items: center; justify-content: center;">
  <p style="color: white; font-size: 80px;"><%= @spot.name %></p>
</div>

<div class="container flexbox">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="show-content">

        <div class="show-title">
          <h1><%= @spot.name %></h1>
          <% if @spot.user == current_user %>
            <h4 class= "fontawesome" style="display: inline;"><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe,  edit_spot_path(@spot), style: 'color:#5A5A5A'%></h4>
            <h4 class= "fontawesome" style="display: inline;"><%= link_to '<i class="fas fa-trash"></i>'.html_safe,  spot_path(@spot), style: 'color:#5A5A5A', :method => :delete %></h4>
          <% end %>
        </div>

        <br>

        <div class="show-info">
          <h5><%= @spot.description %></h5>
        </div>

        <div class="show-header">
          <% if user_signed_in? %>
            <% unless @spot.user == current_user %>
              <h6>- spot provided by <%= @spot.user.email %></h6>
            <% else %>
              <h6>- spot provided by you</h6>
            <% end %>
          <% else %>
              <h6>- log in to see who created this spot.</h6>
          <% end %>
        </div>

        <br>
        <br>

        <% if @spot.user == current_user %>
          <h3 style="text-align: center;">Bookings of Your Spot:</h3>
          <%= render "showbookings", your_bookings: @your_bookings %>
        <% else %>
          <% if @your_bookings.length > 0 %>
            <h3 style="text-align: center;">Your Bookings:</h3>
            <%= render "showbookings", your_bookings: @your_bookings %>
            <h3><%= link_to "Book again!", new_spot_spot_booking_path(@spot), class: "btn btn-lg btn-primary btn-book"%></h3>
            <br>
          <% else %>
            <h3><%= link_to "Book this Spot now!", new_spot_spot_booking_path(@spot), class: "btn btn-lg btn-primary btn-book"  %></h3>
          <% end %>
        <% end %>

        <br>



        <br>
        <br>

        <%= link_to '<i class="far fa-arrow-alt-circle-left"></i>'.html_safe,  spots_path, style: 'color:#5A5A5A; font-size:40px' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">

      <div class="show-map">
        <div
          id="map"
          style="width: 100%;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <% @reviews.each do |review| %>
        <div class="show-review">
          <h5><%= review.user.email %> wrote on <%= review.created_at %>:</h5>
          <h6>- <%= review.review_description %></h6>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%#= render "spot_reviews/form"  %>
