<div class="container">
  <h1><%= @spot.name %></h1>

  <% if user_signed_in? %>
    <% unless @spot.user == current_user %>
      <h5>Spot provided by <%= @spot.user.email %></h5>
    <% else %>
      <h5>Spot provided by you</h5>
    <% end %>
  <% else %>
      <h5>Log in to see who created this spot.</h5>
  <% end %>

  <br>
  <br>

    <% if @spot.user == current_user %>
      <h3>Is_Owner 👍🏼</h3>
    <% else %>
      <h3>Not_Owner</h3>

      <% if @your_bookings.length > 0 %>
        <h3>Your Bookings:</h3>
        <% @your_bookings.each do |booking| %>
          <h3><%= (booking.end_date - booking.start_date).to_i %> Days @<%= booking.spot.name %></h3>
          <h4>From the <%= booking.start_date %> until the <%= booking.end_date %></h4>
        <% end %>
        <br>
        <br>
        <h3>Book Again!</h3>
        <%= link_to "Book this Spot", new_spot_spot_booking_path(@spot) %>

      <% else %>

        <h3>Book now!</h3>
        <%= link_to "Book this Spot", new_spot_spot_booking_path(@spot) %>

      <% end %>
    <% end %>

  <% @reviews.each do |review| %>
  <%= review.review_description %>



  <% end %>
  <br>
  <% if @spot.user == current_user %>
  <%= link_to "Delete this spot",  spot_path(@spot), :method => :delete %>
  <% end %>
  <br>
  <br>
  <%= link_to "Go Back",  spots_path %>

</div>
<%#= render "spot_reviews/form"  %>
